


.adv {
    width: 768px;
    height: 784px;
    border-radius: 5px;    
    background-image: url('/public/images/start.png');
    background-size: contain;
    
}

.empolyeeCall {
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 60px;
}

.empolyeeCall button {
    padding: 10px, 10px;
    width: 120px;
    height: 66px;
    border-radius: 50px;
    border: none;
    background-color: #F63C3C;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: -15px;
    box-shadow: 0px 3px 6px;
    cursor: pointer;
}

.text {
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: -2px;
}

.choice {
    display: flex;
    justify-content: space-around;
}

.Box {
    width: 256px;
    height: 72px;
    font-size: 40px;
    font-weight: bolder;
    background-color: #FEBF0F;
    line-height: 0.55;
    box-shadow: 0px 3px 6px;
    cursor: pointer;
    
}


.choice button span small {
    font-size: 20px;
}

