.Back {
    background-color: rgba(241, 241, 241, 1);
    width: 768px;
    height: 810px;
    text-align: center;
}

.CardBlank {
    width: 10px;
    height: 140px;
}

.AppBlank {
    width: 10px;
    height: 140px;
}

.Blank {
    height: 50px;
}

.Receipt {
    border: 1px solid black;
    width: 450px;
    background-color: white;
    margin-left: 159px;
    cursor: pointer;
    position: absolute;
    line-height: 12px;
}

.ReceiptTextName {
    display: inline-block;
    position: absolute;
    left: 70px;
    /* margin-right: 50px */
    
}

.ReceiptTextPrice {
    display: inline-block;
    position: relative;
    left: 55px;
    /* margin-left: 30px */
}

.ReceiptTextQuantity {
    display: inline-block;
    position: relative;
    left: 90px;
    /* margin-left: 40px */
}

.ReceiptTextSum {
    display: inline-block;
    position: relative;
    left: 130px;
    /* margin-left: 40px */
}

.ReceiptTextBlank {
    display: inline-block;
}

.Home {
    width: 320px;
    height: 90px;
    border-radius: 50px;
    background-color: rgba(226, 215, 215, 1);
    line-height: 85px;
    margin-left: 65px;
    margin-bottom: 30px;;
}

.직원호출 {
    width: 768px;
    height: 806px;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}