.AddBox {
    width: 90px;
    height: 120px;
    border: 1px dotted black;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    font-size: 70%;
    margin-top: 4px;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
}