.OuterBox {
    width: 265px;
    margin: auto;
    text-align: center;
}

.WeatherBox {
    width: 120px;
    margin-right: 10px;
    display: inline-block;
}

.RecomBox {
    width: 120px;
    margin-left: 10px;
    display: inline-block;
}