.FooterBox {
    height:77px;
    background: pink;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.CallBox {
    width: 87px;
    height: 77px;
    background-color: #0ec842;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Icon {
    overflow: hidden;
}

.단계이미지 {
    /* background: #3A0100; */
    background-image: url('/public/images/푸터바배경.png');
    background-size: cover;
    width: 681px;
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    color: white;
    overflow:hidden;
}

.단계 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;;
    line-height: 5px;
    position: relative;
}

.회색 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
}

.주황 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: orange;
    background-image: url('/public/images/런닝맨.png');
    background-size: contain;
    background-repeat: no-repeat;
}