.TopBox {
    width: 768px;
    height: 26px;
    background-color: rgba(58, 1, 0, 1);
}

.HeaderBox {
    height: 92px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    margin-right:150px;
}



.HereBox {
    width: 70px;
    height: 60px;
    background: white;
    border: 5px solid #ffb800;
    border-radius: 20px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}

.HomeBox {
    width: 70px;
    height: 50px;
    justify-content: center;
    display: inline-block;
    text-align: center;
    margin-top: 0px;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.Home {
    border: none;
}

.Home img {
    margin:auto;
    margin-top: 10px;
    margin-bottom: -12px;
}


.Home p {
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
}