.TopBox {
    width: 768px;
    height: 25px;
    background-color: rgba(58, 1, 0, 1);
}

.HeaderBox {
    height: 55px;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.logo {
    object-fit: cover;
    margin-top: 0px;
    margin-left: 10px;
}

.Blank {
    width: 300px;
}

.HereBox {
    width: 60px;
    height: 50px;
    border: 4px solid rgba(255, 184, 0, 1);
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    margin-left: 20px;
    margin-top: -2.5px;
    line-height: 50px;
    font-size: 120%;
    font-weight: bold;
    cursor: pointer;
}

.HomeBox {
    width: 70px;
    height: 50px;
    justify-content: center;
    display: inline-block;
    text-align: center;
    margin-top: 0px;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
}

.Home {
    width: 35px;
    height: 35px;
    justify-content: center;
    display: inline-block;
}