.Block {
    width: 160px;
    height: 160px;
    background-color: white;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    font-size: 75%;
    padding: 5px;
    margin: 24px;
    margin-top: 40px;
    cursor: pointer;
}