.Block {
    width: 160px;
    height: 160px;
    background-color: white;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    font-size: 75%;
    padding: 5px;
    margin: 15px;
    margin-top: 20px;
    margin-bottom: -10px;
    cursor: pointer;
}