.ReceiptBox {
    display: flex;

}

.ReceiptTextName {
    position: absolute;
    /* left: 185px; */
    margin-left: 20px;
}

.ReceiptTextPrice {
    display: inline-block;
    position: relative;
    left: 230px;

}

.ReceiptTextQuantity {
    display: inline-block;
    position: relative;
    left: 245px;
    margin-left: 30px;
}

.ReceiptTextSum {
    display: inline-block;
    position: relative;
    left: 260px;
    margin-left: 30px;
}

.ReceiptTextBlank {
    display: inline-block;
}