.Box {
    width: 768px;
    height: 66px;
}

.Blank {
    width: 525px;
    display: inline-block;
}

.Button {
    width: 230px;
    height: 65px;
    background-color: rgba(255, 184, 0, 1);
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    line-height: 60px;
    display: inline-block;
    cursor: pointer;
}