.Box {
    width: 768px;
    height: 50px;
    display: flex;
}

.Blank {
    width: 445px;
    height: 40px;
    font-size: 15px;
    line-height: 40px;
    margin-left: 50px;
    border: 5px solid orange;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}

.Button {
    width: 200px;
    height: 50px;
    background-color: rgba(255, 184, 0, 1);
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    line-height: 60px;
    margin-left: 60px;
    margin-right: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}