.Selected {
    width: 200px;
    height: 140px;
    display: inline-block;
    text-align: center;
    font-size: 80%;
    margin-top: 0px;
}

.QuantityStyle{
    font-size: 14px;
}

.Button {
    width: 18px;
    height: 18px;
    background-color: rgba(255, 97, 116, 1);
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 150%;
    line-height: 13px;
    display: inline-block;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}

.Cancel {
    width: 45px;
    height: 18px;
    background-color: gray;
    border-radius: 10px;
    color: white;
    font-size: 9px;
    line-height: 18px;
    margin-top: 0px;
    margin-left: 77px;
    cursor: pointer;
}