.PaymentBox {
    width: 768px;
    height: 563px;
    background-color: rgba(241, 241, 241, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.TopBox {
    width: 500px;
    height: 260px;
    display: flex;
    /* background: lightgreen; */
    justify-content: space-between;
    align-items: center;
}

.결제수단 {
    width: 500px;
    height: 140px;
    /* background: orange; */
    display: flex;
    align-items: center;
    margin-bottom: -20px;
    margin-top: 20px;
}

.결제수단 p{
    background: rgba(58, 1, 0, 1);
    color: white;
    border-radius: 30px;
    width : 500px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.label {
    width: 212px;
    height: 192px;
}

.CheckBox {
    border: 1px solid rgba(156, 156, 156, 1);
    border-radius: 30px;
    width: 150px;
    height: 130px;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    padding: 30px;
    cursor: pointer;
}

.Vector {
    margin-bottom: 7px;    
}

.BottomBox {
    width: 510px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    /* background: pink; */
}

.AcceptBox {
    border: 1px solid rgba(156, 156, 156, 1);
    border-radius: 30px;
    background-color: rgba(255, 184, 0, 1);
    width: 213px;
    height: 40px;
    font-size: 130%;
    font-weight: bold;
    line-height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CancelBox {
    border: 1px solid rgba(156, 156, 156, 1);
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 1);
    width: 213px;
    height: 40px;
    font-size: 130%;
    font-weight: bold;
    line-height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}