.SelectedMenusBox {
    width: 768px;
    height: 255px;
    background-color: rgba(243, 236, 236, 1);
}

.TopBox {
    width: 768px;
    height: 35px;
    background-color: rgba(58, 1, 0, 1);
}

.Selected {
    width: 768px;
    height: 210px;
    justify-content: center;
    display: inline-block;
}

.Display {
    width: 670px;
    height: 150px;
    margin-top: 5px;
    margin-left: 50px;
    overflow-y: hidden;
    display: inline-block;
}

.DisplayButton {
    text-align: center;
}

.SelectedButton {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: gray;
    display: inline-block;
    margin-right: 2px;
    border: 1px solid rgb(185, 185, 185);
}

.SelectedButton2 {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: white;
    display: inline-block;
    margin-right: 2px;
    border: 1px solid rgb(185, 185, 185);
}

.LeftButton {
    position: absolute;
    top: 290px;
    margin-left: 20px;
}

.RightButton{
    position: absolute;
    top: 290px;
    display: inline-block;
}

.BottomBox {
    width: 768px;
    height: 45px;
    background-color: rgba(58, 1, 0, 1);
    color: white;
    text-align: end;
    font-size: 130%;
    line-height: 5px;
}

.FrontText {
    display: inline-block;
    /* position: absolute; */
    margin-right: 50px;
}

.NextText {
    display: inline-block;
    margin-right: 20px;
}