.Selected {
    width: 200px;
    height: 140px;
    display: inline-block;
    text-align: center;
    margin: 10px;
    font-size: 80%;
    padding-top: 5px;
}

.Button {
    width: 18px;
    height: 18px;
    background-color: rgba(255, 97, 116, 1);
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 150%;
    line-height: 12px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}